<div class="container row">

  <div class="col-2">
    <button type="button" class="btn btn-dark mt-3 m-2">
      2021
    </button>
    <button type="button" class="btn btn-dark m-2">
      2020
    </button>
    <button type="button" class="btn btn-dark m-2">
      2019
    </button>
    <button type="button" class="btn btn-dark m-2">
      2018
    </button>
    <button type="button" class="btn btn-dark m-2">
      2017
    </button>
    <button type="button" class="btn btn-dark m-2">
      2016
    </button>
    <button type="button" class="btn btn-dark m-2">
      2015
    </button>
    <button type="button" class="btn btn-dark m-2">
      2014
    </button>
    <button type="button" class="btn btn-dark m-2">
      2013
    </button>
    <button type="button" class="btn btn-dark mb-3 m-2">
      2012
    </button>
  </div>

  <div class="col-10">

    <div class="container row">
      <div class="row d-flex justify-content-around">
        <div class="col d-flex justify-content-center">
          <button class="btn btn-dark my-1"><img class="img-fluid" src="../../assets/img/times/America.png"></button>
        </div>
        <div class="col d-flex justify-content-center">
          <button class="btn btn-dark my-1"><img class="img-fluid" src="../../assets/img/times/Athletico.png"></button>
        </div>
        <div class="col d-flex justify-content-center">
          <button class="btn btn-dark my-1"><img class="img-fluid" src="../../assets/img/times/Atletico.png"></button>
        </div>
        <div class="col d-flex justify-content-center">
          <button class="btn btn-dark my-1"><img class="img-fluid" src="../../assets/img/times/AtleticoMineiro.png"></button>
        </div>
        <div class="col d-flex justify-content-center">
          <button class="btn btn-dark my-1"><img class="img-fluid" src="../../assets/img/times/Bahia.png"></button>
        </div>
      </div>
      <div class="row">
        <div class="col d-flex justify-content-center">
          <button class="btn btn-dark my-1"><img class="img-fluid" src="../../assets/img/times/Ceara.png"></button>
        </div>
        <div class="col d-flex justify-content-center">
          <button class="btn btn-dark my-1"><img class="img-fluid" src="../../assets/img/times/Chapecoense.png"></button>
        </div>
        <div class="col d-flex justify-content-center">
          <button class="btn btn-dark my-1"><img class="img-fluid" src="../../assets/img/times/Corinthians.png"></button>
        </div>
        <div class="col d-flex justify-content-center">
          <button class="btn btn-dark my-1"><img class="img-fluid" src="../../assets/img/times/Cuiaba.png"></button>
        </div>
        <div class="col d-flex justify-content-center">
          <button class="btn btn-dark my-1"><img class="img-fluid" src="../../assets/img/times/Flamengo.png"></button>
        </div>
      </div>
      <div class="row">
        <div class="col d-flex justify-content-center">
          <button class="btn btn-dark my-1"><img class="img-fluid" src="../../assets/img/times/Fluminense.png"></button>
        </div>
        <div class="col d-flex justify-content-center">
          <button class="btn btn-dark my-1"><img class="img-fluid" src="../../assets/img/times/Fortaleza.png"></button>
        </div>
        <div class="col d-flex justify-content-center">
          <button class="btn btn-dark my-1"><img class="img-fluid" src="../../assets/img/times/Gremio.png"></button>
        </div>
        <div class="col d-flex justify-content-center">
          <button class="btn btn-dark my-1"><img class="img-fluid" src="../../assets/img/times/Internacional.png"></button>
        </div>
        <div class="col d-flex justify-content-center">
          <button class="btn btn-dark my-1"><img class="img-fluid" src="../../assets/img/times/Juventude.png"></button>
        </div>
      </div>
      <div class="row">
        <div class="col d-flex justify-content-center">
          <button class="btn btn-dark my-1"><img class="img-fluid" src="../../assets/img/times/Palmeiras.png"></button>
        </div>
        <div class="col d-flex justify-content-center">
          <button class="btn btn-dark my-1"><img class="img-fluid" src="../../assets/img/times/RedBullBragantino.png"></button>
        </div>
        <div class="col d-flex justify-content-center">
          <button class="btn btn-dark my-1"><img class="img-fluid" src="../../assets/img/times/Santos.png"></button>
        </div>
        <div class="col d-flex justify-content-center">
          <button class="btn btn-dark my-1"><img class="img-fluid" src="../../assets/img/times/SaoPaulo.png"></button>
        </div>
        <div class="col d-flex justify-content-center">
          <button class="btn btn-dark my-1"><img class="img-fluid" src="../../assets/img/times/Sport.png"></button>
        </div>
      </div>
    </div>

    <div class="container row">
      <div class="bg-dark d-flex justify-content-between">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
      </div>
    </div>
  </div>
</div>
