<div class="container-fluid">

  <div class="row mt-5">
    <div class="col-2">
      <div class="row py-1 px-5">
        <button type="button" class="btn">
          2021
        </button>
      </div>
      <div class="row py-1 px-5">
        <button type="button" class="btn">
          2020
        </button>
      </div>
      <div class="row py-1 px-5">
        <button type="button" class="btn">
          2019
        </button>
      </div>
      <div class="row py-1 px-5">
        <button type="button" class="btn">
          2018
        </button>
      </div>
      <div class="row py-1 px-5">
        <button type="button" class="btn">
          2017
        </button>
      </div>
      <div class="row py-1 px-5">
        <button type="button" class="btn">
          2016
        </button>
      </div>
      <div class="row py-1 px-5">
        <button type="button" class="btn">
          2015
        </button>
      </div>
      <div class="row py-1 px-5">
        <button type="button" class="btn">
          2014
        </button>
      </div>
      <div class="row py-1 px-5">
        <button type="button" class="btn">
          2013
        </button>
      </div>
      <div class="row py-1 px-5">
        <button type="button" class="btn">
          2012
        </button>
      </div>

    </div>

    <div class="col-10">

      <div class="container-fluid mb-3">

        <div class="row justify-content-around mb-2">
          <div class="col">
            <button class="btn">
              <img src="../../assets/img/times/America.png">
            </button>
          </div>

          <div class="col">
            <button class="btn">
              <img src="../../assets/img/times/Athletico.png">
            </button>
          </div>

          <div class="col">
            <button class="btn">
              <img src="../../assets/img/times/Atletico.png">
            </button>
          </div>

          <div class="col">
            <button class="btn">
              <img src="../../assets/img/times/AtleticoMineiro.png">
            </button>
          </div>

          <div class="col">
            <button class="btn">
              <img src="../../assets/img/times/Bahia.png">
            </button>
          </div>

          <div class="col">
            <button class="btn">
              <img src="../../assets/img/times/Ceara.png">
            </button>
          </div>

          <div class="col">
            <button class="btn">
              <img src="../../assets/img/times/Chapecoense.png">
            </button>
          </div>

          <div class="col">
            <button class="btn">
              <img src="../../assets/img/times/Corinthians.png">
            </button>
          </div>

          <div class="col">
            <button class="btn">
              <img src="../../assets/img/times/Cuiaba.png">
            </button>
          </div>

          <div class="col">
            <button class="btn">
              <img src="../../assets/img/times/Flamengo.png">
            </button>
          </div>
        </div>

        <div class="row justify-content-around mt-2">
          <div class="col">
            <button class="btn">
              <img src="../../assets/img/times/Fluminense.png">
            </button>
          </div>

          <div class="col">
            <button class="btn">
              <img src="../../assets/img/times/Fortaleza.png">
            </button>
          </div>

          <div class="col">
            <button class="btn">
              <img src="../../assets/img/times/Gremio.png">
            </button>
          </div>

          <div class="col">
            <button class="btn">
              <img src="../../assets/img/times/Internacional.png">
            </button>
          </div>

          <div class="col">
            <button class="btn">
              <img src="../../assets/img/times/Juventude.png">
            </button>
          </div>

          <div class="col">
            <button class="btn">
              <img src="../../assets/img/times/Palmeiras.png">
            </button>
          </div>

          <div class="col">
            <button class="btn">
              <img src="../../assets/img/times/RedBullBragantino.png">
            </button>
          </div>

          <div class="col">
            <button class="btn">
              <img src="../../assets/img/times/Santos.png">
            </button>
          </div>

          <div class="col">
            <button class="btn">
              <img src="../../assets/img/times/SaoPaulo.png">
            </button>
          </div>

          <div class="col">
            <button class="btn">
              <img src="../../assets/img/times/Sport.png">
            </button>
          </div>
        </div>

      </div>

      <div class="container-fluid">
        <div class="row justify-content-between bg-comparador p-3">

          <div class="col d-flex justify-content-start">
              <div class="bg-time">
                <img class="img-responsive img-time" src="../../assets/img/times/AtleticoMineiro.png">
              </div>
          </div>

          <div class="col"></div>

          <div class="col d-inline-flex justify-content-end">
            <div class="bg-time">
              <img class="img-responsive img-time" src="../../assets/img/times/Flamengo.png">
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

</div>
