<header class="shadow p-3 mb-5 bg-dark rounded">
  <div class="container">
    <div class="d-flex">
      <a>
        <img src="../../../../assets/img/logo.png" alt="" class="bi me-1" width="60" height="40">
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary"><i class="bi bi-table"></i> Tabelas</a></li>
        <li><a href="#" class="nav-link px-2 link-secondary"><i class="bi bi-pie-chart"></i> Estatística</a></li>
        <li><a href="#" class="nav-link px-2 link-secondary"><i class="bi bi-newspaper"></i> Noticias</a></li>
        <li><a href="#" class="nav-link px-2 link-secondary"><i class="bi bi-display"></i> Transmissões</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-2">
        <input type="search" class="form-control" placeholder="Buscar..." aria-label="Search">
      </form>

      <div>
        <app-Login></app-Login>
      </div>
    </div>
  </div>
</header>
