<div class="container-fluid">
  <div class="row mt-md-5">
    <div class="col-md-1 d-none d-lg-block">
      <div class="col-12 offset-1 botao_data " role="group" ngbRadioGroup name="radioBasic" [(ngModel)]="ano" (ngModelChange)="buscarTabela()">
        <label ngbButtonLabel class="btn btn-dark btn-lg shadow mt-5 "><input ngbButton type="radio" class="btn-check" [value]="2021">2021</label>
        <label ngbButtonLabel class="btn btn-dark btn-lg shadow mt-2"><input ngbButton type="radio" class="btn-check" [value]="2020">2020</label>
        <label ngbButtonLabel class="btn btn-dark btn-lg shadow mt-2"><input ngbButton type="radio" class="btn-check" [value]="2019">2019</label>
        <label ngbButtonLabel class="btn btn-dark btn-lg shadow mt-2"><input ngbButton type="radio" class="btn-check" [value]="2018">2018</label>
        <label ngbButtonLabel class="btn btn-dark btn-lg shadow mt-2"><input ngbButton type="radio" class="btn-check" [value]="2017">2017</label>
        <label ngbButtonLabel class="btn btn-dark btn-lg shadow mt-2"><input ngbButton type="radio" class="btn-check" [value]="2016">2016</label>
        <label ngbButtonLabel class="btn btn-dark btn-lg shadow mt-2"><input ngbButton type="radio" class="btn-check" [value]="2015">2015</label>
        <label ngbButtonLabel class="btn btn-dark btn-lg shadow mt-2"><input ngbButton type="radio" class="btn-check" [value]="2014">2014</label>
        <label ngbButtonLabel class="btn btn-dark btn-lg shadow mt-2"><input ngbButton type="radio" class="btn-check" [value]="2013">2013</label>
        <label ngbButtonLabel class="btn btn-dark btn-lg shadow mt-2"><input ngbButton type="radio" class="btn-check" [value]="2012">2012</label>
      </div>
    </div>
    <div class="col-sm-12 col-md-7">
      <div class="col-md-6">
        <div class="input-group">
          <select class="form-select form-select-md mb-3 bg-secondary text-white" [(ngModel)]="tipo" (ngModelChange)="filtroTipo()">
            <option [ngValue]="'campeonato-brasileiro'">Campeonato Brasileiro</option>
            <option [ngValue]="'copa-brasil'">Copa do Brasil</option>
            <option [ngValue]="'supercopa'">Supercopa</option>
          </select>
        </div>
      </div>
      <div class="col-md-4 mt-2">
        <div class="input-group">
          <select class="form-select form-select-sm bg-secondary text-white" [(ngModel)]="serieSelecionada" (ngModelChange)="buscarTabela()">
            <option *ngFor="let item of seriesLista" [value]="item.valor">{{ item.nome }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-12 mt-5">
        <table class="table table-borderless mb-3">
          <thead>
          <tr>
            <th class="col-1 text-white text-center">Posição</th>
            <th class="col-3 text-white">Time</th>
            <th class="col-1 text-white text-center">Pontos</th>
            <th class="col-1 text-white text-center">Vitórias</th>
            <th class="col-1 text-white text-center">Derrotas</th>
            <th class="col-1 text-white text-center">Empates</th>
          </tr>
          </thead>
          <tbody class="table-body">
            <tr *ngFor="let item of TabelaPrincipal" class="shadow tablecontent">
              <th class="text-white text-center" scope="row">{{item.posicao}}</th>
              <td class="text-white" scope="row">
                <a *ngFor="let item2 of brasaoTime">
                  <img *ngIf="item.nome == item2.nome" [src]="item2.link" class="me-2" style="width: 20px">
                </a>
                {{ item.nome }}
              </td>
              <td class="text-white text-center" scope="row">{{ item.pontos| number}}</td>
              <td class="text-white text-center" scope="row">{{ item.vitorias| number }}</td>
              <td class="text-white text-center" scope="row">{{ item.derrotas| number }}</td>
              <td class="text-white text-center" scope="row">{{ item.empates| number }}</td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-end bg-dark">
          <div class="pagination modal-3" role="group" ngbRadioGroup name="radioBasic" [(ngModel)]="page" (ngModelChange)="mudaPagina()">
            <div class="row">
              <label ngbButtonLabel><input ngbButton type="radio" class="btn-check">&laquo;</label>
              <label ngbButtonLabel><input ngbButton type="radio" class="btn-check" [value]="1">1</label>
              <label ngbButtonLabel><input ngbButton type="radio" class="btn-check" [value]="2">2</label>
              <label ngbButtonLabel><input ngbButton type="radio" class="btn-check">&raquo;</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 card-jogador">
      <div class="card_jogador_container col-md-2 offset-2">
        <div class="card">
          <div class="imgBx">
            <img src="../../../assets/img/cards-follow/Neymar.png">
          </div>
          <div class="contentBx">
            <h2>Menino Ney</h2>
            <div class="size">
              <h3>Menino</h3>
            </div>
            <div class="color">
              <h3>Ney</h3>
            </div>
            <a href="#">Seguir</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

