<div class="container-fluid">
  <div class="row mt-md-5">
    <div class="col-md-1 d-none d-lg-block">
      <div class="col-2" role="group" ngbRadioGroup name="radioBasic" [(ngModel)]="ano" (ngModelChange)="buscarTabela()">
        <label ngbButtonLabel class="btn btn-dark btn-lg shadow mt-5"><input ngbButton type="radio" class="btn-check" [value]="2021">2021</label>
        <label ngbButtonLabel class="btn btn-dark btn-lg shadow mt-2"><input ngbButton type="radio" class="btn-check" [value]="2019">2020</label>
        <label ngbButtonLabel class="btn btn-dark btn-lg shadow mt-2"><input ngbButton type="radio" class="btn-check" [value]="2019">2019</label>
        <label ngbButtonLabel class="btn btn-dark btn-lg shadow mt-2"><input ngbButton type="radio" class="btn-check" [value]="2018">2018</label>
        <label ngbButtonLabel class="btn btn-dark btn-lg shadow mt-2"><input ngbButton type="radio" class="btn-check" [value]="2017">2017</label>
        <label ngbButtonLabel class="btn btn-dark btn-lg shadow mt-2"><input ngbButton type="radio" class="btn-check" [value]="2016">2016</label>
        <label ngbButtonLabel class="btn btn-dark btn-lg shadow mt-2"><input ngbButton type="radio" class="btn-check" [value]="2015">2015</label>
        <label ngbButtonLabel class="btn btn-dark btn-lg shadow mt-2"><input ngbButton type="radio" class="btn-check" [value]="2014">2014</label>
        <label ngbButtonLabel class="btn btn-dark btn-lg shadow mt-2"><input ngbButton type="radio" class="btn-check" [value]="2013">2013</label>
        <label ngbButtonLabel class="btn btn-dark btn-lg shadow mt-2"><input ngbButton type="radio" class="btn-check" [value]="2012">2012</label>
      </div>
    </div>
    <div class="col-md-7">
      <div class="col-md-5">
        <div class="input-group bg-black">
          <select class="form-select" style="width: auto" [(ngModel)]="tipo" (ngModelChange)="filtroTipo()">
            <option [ngValue]="'campeonato-brasileiro'">Campeonato Brasileiro</option>
            <option [ngValue]="'copa-brasil'">Copa do Brasil</option>
            <option [ngValue]="'supercopa'">Supercopa</option>
          </select>
        </div>
      </div>
      <div class="col-md-4 mt-1">
        <div class="input-group">
          <select class="form-select" style="width: auto" [(ngModel)]="serieSelecionada" (ngModelChange)="buscarTabela()">
            <option *ngFor="let item of seriesLista" [value]="item.valor">{{ item.nome }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-12 mt-5">
        <table class="table table-borderless">
          <thead>
          <tr>
            <th class="col-1 text-white">Posição</th>
            <th class="col-3 text-white">Time</th>
            <th class="col-1 text-white text-center">Pontos</th>
            <th class="col-1 text-white text-center">Vitórias</th>
            <th class="col-1 text-white text-center">Derrotas</th>
            <th class="col-1 text-white text-center">Empates</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of TabelaPrincipal" class="shadow">
            <th class="text-white text-center" scope="row">{{item.posicao}}</th>
            <td class="text-white">
              <img [src]="'https://upload.wikimedia.org/wikipedia/commons/2/2e/Flamengo_braz_logo.svg'" class="me-2" style="width: 20px">
              {{ item.nome }}
            </td>
            <td class="text-white text-center">{{ item.pontos| number}}</td>
            <td class="text-white text-center">{{ item.vitorias| number }}</td>
            <td class="text-white text-center">{{ item.derrotas| number }}</td>
            <td class="text-white text-center">{{ item.empates| number }}</td>
          </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-end">
          <ngb-pagination [collectionSize]="colecao" [(page)]="page" [pageSize]="pageSize" (pageChange)="mudaPagina()">
          </ngb-pagination>
        </div>
      </div>
    </div>
    <div class="col-md-1">
      <div class="container">
        <div class="card">
          <div class="imgBx">
            <img src="../../../assets/img/cards-follow/Neymar.png">
          </div>
          <div class="contentBx">
            <h2>Menino Ney</h2>
            <div class="size">
              <h3>Menino</h3>
            </div>
            <div class="color">
              <h3>Ney</h3>
            </div>
            <a href="#">Seguir</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
