#noTempText{
  font-size: 1.4em;
}

#noTeamText{
  font-size: 1.4em;
}

.btn-customizado{

  color: #fff;
  background: var(--dark-light);

  img{
    max-width: 54px;
  }
}

.btn{
  background: var(--dark-light);
}

.time-brasao{
  max-width: 54px;
}

.bg-comparador{
  background: var(--dark-light);
  border-radius: 10px;
}

.bg-time{
  background: var(--dark-blue);
  border-radius: 10px;
}

.img-time{
  max-width: 240px;
}
