#noTempText{
  font-size: 1.4em;
}

#noTeamText{
  font-size: 1.4em;
}

.btn-customizado{

  color: #fff;
  background-color: #00000040;

  img{
    max-width: 54px;
  }
}

.time-brasao{
  max-width: 54px;
}

.bg-comparador{
  background-color: #00000080;
  border-radius: 10px;
}

.bg-time{
  background-color: #00000040;
  border-radius: 10px;
}

.img-time{
  max-width: 240px;
}
