<div class="container-fluid">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>

  <mat-sidenav-container class="backgroundColor shadow">
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8 d-flex">
      <img
        class="avatar mat-elevation-z8"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9r3ogaSmpwNYSaEKRifVaHjwmYsKSW7fC6Q&usqp=CAU"
      />

      <h4 class="name text-white">Lucas</h4>
      <p class="designation text-white">Admin</p>

      <mat-divider></mat-divider>

      <div class="d-flex justify-content-start flex-column">
        <button class="btn text-white" routerLink="dashboard"><i class="bi bi-speedometer"></i> Dashboard</button>
        <button class="btn text-white" routerLink="upload-download"><i class="bi bi-table"></i> Tabelas</button>
        <button class="btn text-white" routerLink="usuarios"><i class="bi bi-people-fill"></i> Usuários</button>

        <mat-divider></mat-divider>

        <a class="btn text-white" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" target="_blank"><i class="bi bi-question-circle"></i> Ajuda</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content mat-elevation-z8 shadow">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
