<nz-layout>
  <nz-sider nzWidth="200px" nzTheme="light">
    <ul nz-menu nzMode="inline" style="width: 240px">
      <li nz-menu-item nzIcon="table" routerLink="uploadTabelas"
        ><i nz-icon nzType="table" nzTheme="outline"></i
      >Importar Tabelas</li>
      <li nz-menu-item nzIcon="table" routerLink="downloadTabelas"
        ><i nz-icon nzType="table" nzTheme="outline"></i
      >Download Tabelas</li>
    </ul>
  </nz-sider>
  <nz-layout class="inner-layout">
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
