<div class="fundo">
  <div class="dropdown d-flex float-right">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Temporada
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">2019</a>
      <a class="dropdown-item" href="#">2020</a>
      <a class="dropdown-item" href="#">2021</a>
    </div>
  </div>

  <section class="comparador">
    <div class="row d-flex justify-content-between">
      <div class="time1 col-xs-12 col-md-6">
        <div class="row">
          <div class="col d-flex justify-content-center">
            <h2>Time 1</h2>
          </div>
        </div>
        <div class="row">
          <div class="col d-flex justify-content-center">
            <img
              src="../assets/img/times/AtleticoMineiro.jpg"
              alt="Brasão do time 1"
            />
          </div>
        </div>
        <div class="row">
          <div class="col d-flex justify-content-center">
            <dl>
              <dt>Sequência</dt>
              <dd>V V D</dd>
              <dt>Jogos</dt>
              <dd>XX</dd>
              <dt>Vitórias</dt>
              <dd>XX</dd>

              <dt>Empates</dt>
              <dd>XX</dd>

              <dt>Derrotas</dt>
              <dd>XX</dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="time2 col-xs-12 col-md-6">
        <div class="row">
          <div class="col d-flex justify-content-center">
            <h2>Time 2</h2>
          </div>
        </div>
        <div class="row">
          <div class="col d-flex justify-content-center">
            <img
              src="../assets/img/times/Flamengo.jpg"
              alt="Brasão do time 2"
            />
          </div>
        </div>
        <div class="row">
          <div class="col d-flex justify-content-center">
            <section>
              <dl>
                <dt>Sequência</dt>
                <dd>E D D</dd>

                <dt>Jogos</dt>
                <dd>XX</dd>

                <dt>Vitórias</dt>
                <dd>XX</dd>

                <dt>Empates</dt>
                <dd>XX</dd>

                <dt>Derrotas</dt>
                <dd>XX</dd>
              </dl>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="row divBtn">
    <div class="col d-flex justify-content-center">
      <button type="button" class="btn btn-danger">Limpar</button>
    </div>
  </div>

  <section class="selecionador">
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-ride="carousel"
      data-interval="0"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-md-3 d-flex justify-content-center">
              <a class="d-inline-block w-18 logo-time" href=""
                ><img src="../assets/img/times/America.jpg" alt=""
              /></a>
            </div>
            <div class="col-md-3 d-flex justify-content-center">
              <a class="d-inline-block w-18 logo-time" href=""
                ><img src="../assets/img/times/Athletico.jpg" alt=""
              /></a>
            </div>
            <div class="col-md-3 d-flex justify-content-center">
              <a class="d-inline-block w-18 logo-time" href=""
                ><img src="../assets/img/times/Atletico.jpg" alt=""
              /></a>
            </div>
            <div class="col-md-3 d-flex justify-content-center">
              <a class="d-inline-block w-18 logo-time" href=""
                ><img src="../assets/img/times/AtleticoMineiro.jpg" alt=""
              /></a>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-3 d-flex justify-content-center">
              <a href="#" class="d-inline-block w-18 logo-time"
                ><img src="../assets/img/times/Bahia.jpg" alt=""
              /></a>
            </div>
            <div class="col-md-3 d-flex justify-content-center">
              <a href="#" class="d-inline-block w-18 logo-time"
                ><img src="../assets/img/times/Ceara.jpg" alt=""
              /></a>
            </div>
            <div class="col-md-3 d-flex justify-content-center">
              <a href="#" class="d-inline-block w-18 logo-time"
                ><img src="../assets/img/times/Chapecoense.jpg" alt=""
              /></a>
            </div>
            <div class="col-md-3 d-flex justify-content-center">
              <a href="#" class="d-inline-block w-18 logo-time"
                ><img src="../assets/img/times/Corinthians.jpg" alt=""
              /></a>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-3 d-flex justify-content-center">
              <a href="#" class="d-inline-block w-18 logo-time"
                ><img src="../assets/img/times/Cuiaba.jpg" alt=""
              /></a>
            </div>
            <div class="col-md-3 d-flex justify-content-center">
              <a href="#" class="d-inline-block w-18 logo-time"
                ><img src="../assets/img/times/Flamengo.jpg" alt=""
              /></a>
            </div>
            <div class="col-md-3 d-flex justify-content-center">
              <a href="#" class="d-inline-block w-18 logo-time"
                ><img src="../assets/img/times/Fluminense.jpg" alt=""
              /></a>
            </div>
            <div class="col-md-3 d-flex justify-content-center">
              <a href="#" class="d-inline-block w-18 logo-time"
                ><img src="../assets/img/times/Fortaleza.jpg" alt=""
              /></a>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-3 d-flex justify-content-center">
              <a href="#" class="d-inline-block w-18 logo-time"
                ><img src="../assets/img/times/Gremio.jpg" alt=""
              /></a>
            </div>
            <div class="col-md-3 d-flex justify-content-center">
              <a href="#" class="d-inline-block w-18 logo-time"
                ><img src="../assets/img/times/Internacional.jpg" alt=""
              /></a>
            </div>
            <div class="col-md-3 d-flex justify-content-center">
              <a href="#" class="d-inline-block w-18 logo-time"
                ><img src="../assets/img/times/Juventude.jpg" alt=""
              /></a>
            </div>
            <div class="col-md-3 d-flex justify-content-center">
              <a href="#" class="d-inline-block w-18 logo-time"
                ><img src="../assets/img/times/Palmeiras.jpg" alt=""
              /></a>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-3 d-flex justify-content-center">
              <a href="#" class="d-inline-block w-18 logo-time"
                ><img src="../assets/img/times/RedBull.jpg" alt=""
              /></a>
            </div>
            <div class="col-md-3 d-flex justify-content-center">
              <a href="#" class="d-inline-block w-18 logo-time"
                ><img src="../assets/img/times/Santos.jpg" alt=""
              /></a>
            </div>
            <div class="col-md-3 d-flex justify-content-center">
              <a href="#" class="d-inline-block w-18 logo-time"
                ><img src="../assets/img/times/SaoPaulo.jpg" alt=""
              /></a>
            </div>
            <div class="col-md-3 d-flex justify-content-center">
              <a href="#" class="d-inline-block w-18 logo-time"
                ><img src="../assets/img/times/Sport.jpg" alt=""
              /></a>
            </div>
          </div>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleControls"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleControls"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>
</div>
