<nz-header class="header-menu">
  <div class="logo">
    <img class="img" src="" alt="" />
  </div>
  <ul nz-menu nzMode="horizontal" nzTheme="dark">
    <li nz-submenu nzTitle="Tabelas" nzIcon="table">
      <ul>
        <li nz-submenu nzTitle="Campeonato Brasileiro">
          <ul>
            <li nz-menu-item routerLink="campeonatobrasileiro/serieA">Serie A</li>
            <li nz-menu-item routerLink="campeonatobrasileiro/serieB">Serie B</li>
            <li nz-menu-item routerLink="campeonatobrasileiro/serieC">Serie C</li>
            <li nz-menu-item routerLink="campeonatobrasileiro/serieD">Serie D</li>
            <li nz-menu-item routerLink="campeonatobrasileiro/femininocb">Feminino</li>
            <li nz-menu-item routerLink="campeonatobrasileiro/femininoA1">Feminino A1</li>
            <li nz-menu-item routerLink="campeonatobrasileiro/femininoA2">Feminino A2</li>
            <li nz-menu-item routerLink="campeonatobrasileiro/sub-20">Sub-20</li>
            <li nz-menu-item routerLink="campeonatobrasileiro/sub-17">Sub-17</li>
            <li nz-menu-item routerLink="campeonatobrasileiro/aspirantes">Aspirantes</li>
            <li nz-menu-item routerLink="campeonatobrasileiro/feminino-sub18">Feminino Sub-18</li>
            <li nz-menu-item routerLink="campeonatobrasileiro/feminino-sub16">Feminino Sub-16</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Copa do Brasil">
          <ul>
            <li nz-menu-item nzSelected routerLink="copa-do-brasil/copabrasilMasculino">Masculino</li>
          <li nz-menu-item routerLink="copa-do-brasil/copabrasilFeminino">Feminino</li>
          <li nz-menu-item routerLink="copa-do-brasil/coprabrasilSub20">Sub-20</li>
          <li nz-menu-item routerLink="copa-do-brasil/copabrasilSub17">Sub-17</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Supercopa">
          <ul>
            <li nz-menu-item nzSelected routerLink="supercopa/supercopaMasculino">Masculino</li>
          <li nz-menu-item routerLink="supercopa/supercopaSub20">Sub-20</li>
          <li nz-menu-item routerLink="supercopa/supercopaSub17">Sub-17</li>
          <li nz-menu-item routerLink="supercopa/supercopaFeminina">Feminina</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Copa do Nordeste">
          <ul>
            <li nz-menu-item nzSelected routerLink="copadonordeste/copanordesteMasculino">Masculino</li>
          <li nz-menu-item routerLink="copadonordeste/copanordesteEliminatorias">Elimatórias</li>
          <li nz-menu-item routerLink="copadonordeste/copanordestePreCopa">Pré-copa</li>
          <li nz-menu-item routerLink="copadonordeste/copanordesteSub20">Sub-20</li>
          </ul>
        </li>
      </ul>
    </li>
    <li nz-submenu nzIcon="read" routerLink="noticias" nzTitle="Notícias"></li>
  </ul>
</nz-header>
<nz-layout class="inner-layout">
  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>
</nz-layout>
